table, th, td {
    background-color: #ffffff;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;
    border-collapse: collapse;
}

div.content {
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
    width: 600px;
    padding: 25px;
}

    div.content > div.options {
        padding: 0 25px 10px;
    }

    div.content > div.workplace {
        margin: auto;
        width: 500px;
        max-height: 200px;
        background-color: #dddddd;
        border: 2px;
        border-radius: 30px;
        padding: 25px;
    }
