table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

tr {
  /* position: absolute; */
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  height: 36px;
  background: none;
  width: 20%;
}

td {
  min-width: 24px;
  background: none;
  padding: 0 3px;
}

select {
  height: 36px;
}

div.content {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  margin: 12px 12%;
  padding: 24px;
  display: block;
  min-height: 480px;
}

div.content button {
  margin-top: -5px;
  height: 36px;
}

div.content>div.options {
  display: inline;
  width: 380px;
  float: left;
  margin: 24px;
}

div.content>div.researcher {
  display: inline;
  width: calc(100% - 450px);;
  float: right;
}

div.content>div.researcher>div.workplace {
  border-left: 2px solid #dddddd;
  padding: 25px;
  max-height: 450px;
}

div.content>div.researcher>div.workplace>div.results {
  height: auto;
  overflow: auto;
  height: 280px;
}

#info {
  /* font-family:'Courier New', Courier, monospace; */
  font-size: 10px;
  margin-top: 60px;
  color: #666;
}

/* body > div.content > div.options > h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #666;
} */