body {
  background: url(../images/background-image1.png) no-repeat;
  background-size: 100%;
}


.WeStudy {
  color: brown;
}

nav {
  border-radius: 5px;
}

#header {
  opacity: 0.7;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  /* border-radius: 20%; */
}

.content .form-control {
  width: auto !important;
  display: inline !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.il-link {
  cursor: pointer;
}